In [1]:
import numpy as np
import pandas as pd

In [2]:
import datetime as dt

In [3]:
import requests

In [4]:
from IPython.display import display

In [5]:
from openpyxl import load_workbook

In [6]:
import nsepython

In [7]:
indexes = ['nifty 50', 'nifty 100', 'nifty 200', 'nifty 500', 'nifty largemidcap 250', 'nifty midcap 50', 'nifty midcap 100', 'nifty midcap 150', 'nifty smallcap 50', 'nifty smallcap 100', 'nifty smallcap 250']

In [8]:
start_date = "01-Sep-2024"
end_date = "07-Sep-2024"

In [17]:
nsepython.index_total_returns(indexes[0], start_date, end_date)

             RequestNumber Index Name         Date TotalReturnsIndex
0  TRI63861421678083233600   Nifty 50  06 Sep 2024          36892.07
1  TRI63861421678083233600   Nifty 50  05 Sep 2024          37326.99
2  TRI63861421678083233600   Nifty 50  04 Sep 2024          37406.55
3  TRI63861421678083233600   Nifty 50  03 Sep 2024          37526.97
4  TRI63861421678083233600   Nifty 50  02 Sep 2024          37525.28

In [41]:
niftyindices_headers = {
    'Connection': 'keep-alive',
    'sec-ch-ua': '" Not;A Brand";v="99", "Google Chrome";v="91", "Chromium";v="91"',
    'Accept': 'application/json, text/javascript, */*; q=0.01',
    'DNT': '1',
    'X-Requested-With': 'XMLHttpRequest',
    'sec-ch-ua-mobile': '?0',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36',
    'Content-Type': 'application/json; charset=UTF-8',
    'Origin': 'https://niftyindices.com',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Dest': 'empty',
    'Referer': 'https://niftyindices.com/reports/historical-data',
    'Accept-Language': 'en-US,en;q=0.9,hi;q=0.8',
}

In [33]:
symbol = indexes[4]

In [35]:
data = {'cinfo': "{'name':'" + symbol + "','startDate':'" + start_date + "','endDate':'" + end_date + "','indexName':'" + symbol + "'}"}

In [37]:
data

{'cinfo': "{'name':'nifty largemidcap 250','startDate':'01-Sep-2024','endDate':'07-Sep-2024','indexName':'nifty largemidcap 250'}"}

In [43]:
payload = requests.post('https://niftyindices.com/Backpage.aspx/getpepbHistoricaldataDBtoString', headers=niftyindices_headers,  json=data)

In [47]:
payload.json()

{'d': '[]'}

In [ ]:
payload = json.loads(payload["d"])
payload=pd.DataFrame.from_records(payload)

In [73]:
nsepython.index_pe_pb_div(indexes[4], start_date, end_date)

Empty DataFrame
Columns: []
Index: []

# Save a new Excel file

Uncomment below code to download and save data to new excel file.

In [48]:
# tri = nsepython.index_total_returns('nifty largemidcap 250', "01-Mar-2011", "01-Mar-2024")
# tri

In [50]:
# pe = nsepython.index_pe_pb_div('nifty largemidcap 250', "01-Mar-2011", "01-Mar-2024")
# pe

In [21]:
# df = pd.merge(tri.iloc[:, 2:], pe.iloc[:, 2:], left_on='Date', right_on='DATE', how='inner')[:, :-1]
# df.to_excel('nifty largemidcap 250.xlsx')

# Get the data since the last saved date

In [23]:
def get_data(index):
    '''get TRI history and PE history from nsepython as dataframe'''
    
    #last date in the file
    last = pd.read_excel(index+'.xlsx', index_col=0).index[-1]

    # get values of the remaining dates
    tri = nsepython.index_total_returns(index, (last.date()+dt.timedelta(days=1)).strftime("%d-%b-%Y"),
                                        dt.date.today().strftime("%d-%b-%Y"))
    pe = nsepython.index_pe_pb_div(index, (last.date()+dt.timedelta(days=1)).strftime("%d-%b-%Y"),
                               dt.date.today().strftime("%d-%b-%Y"))
    tri_pe = pd.merge(tri.iloc[:, 2:], pe.iloc[:, 2:], 
                      left_on='Date', right_on='DATE', how='inner').iloc[:, :-1]
    tri_pe[tri_pe.columns[:1]] = tri_pe.iloc[:, :1].apply(pd.to_datetime)
    tri_pe[tri_pe.columns[1:]] = tri_pe.iloc[:, 1:].apply(pd.to_numeric)
    tri_pe.sort_values(by='Date', ascending=True, inplace=True)
    return tri_pe

In [25]:
def save_data(index):
    '''save the index data to existing excel files'''
    
    tri_pe = get_data(index)
    
    wb = load_workbook(index+'.xlsx')
    ws = wb.active

    for row in tri_pe.itertuples(index=False):
        ws.append([row.Date, row.TotalReturnsIndex, row.pe, row.pb, row.divYield])
    wb.save(index+'.xlsx')
    
    print('saved for '+index)

In [27]:
for i in indexes[4:5]:
    save_data(i)

KeyError: 'DATE'

display last two daya of data from excel file

In [53]:
for i in indexes:
    print(i)
    display(pd.read_excel(i+'.xlsx').tail(2))

nifty 50

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             37326.99  23.38  4.25       1.21
3390 2024-09-06             36892.07  23.11  4.20       1.23

nifty 100

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             35602.78  24.41  4.41       1.16
3390 2024-09-06             35181.41  24.12  4.36       1.18

nifty 200

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             18837.32  26.35  4.52       1.08
3390 2024-09-06             18601.78  26.02  4.47       1.09

nifty 500

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             37494.75  27.23  4.61       1.04
3390 2024-09-06             37045.67  26.90  4.55       1.06

nifty largemidcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             21293.89  31.49  4.94       0.92
3390 2024-09-06             21022.21  31.09  4.88       0.94

nifty midcap 50

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             21759.39  48.06  5.76       0.70
3390 2024-09-06             21380.11  47.23  5.66       0.71

nifty midcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             80130.48  44.37  5.21       0.66
3390 2024-09-06             78854.63  43.67  5.13       0.67

nifty midcap 150

           Date  Total Returns Index    P/E   P/B  Div Yield
3390 2024-09-05             27759.88  44.36  5.62       0.68
3391 2024-09-06             27380.02  43.75  5.54       0.70

nifty smallcap 50

           Date  Total Returns Index    P/E   P/B  Div Yield
3390 2024-09-05             11544.03  28.08  4.31       0.79
3391 2024-09-06             11427.65  27.80  4.27       0.81

nifty smallcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
3389 2024-09-05             25024.42  30.61  4.53       0.78
3390 2024-09-06             24715.15  30.23  4.48       0.82

nifty smallcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
3390 2024-09-05             23346.43  32.14  4.66       0.82
3391 2024-09-06             23113.65  31.81  4.61       0.85

To check whether same date repeats

In [56]:
for i in indexes:
    df=pd.read_excel(i+'.xlsx', index_col=0)
    print(i)
    display(df[df.index.duplicated(keep=False)])
    print(f"total duplicated indexes {df.index.duplicated(keep=False).sum()}\n")

nifty 50

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty 100

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty 200

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty 500

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty largemidcap 250

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty midcap 50

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty midcap 100

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty midcap 150

            Total Returns Index    P/E   P/B  Div Yield
Date
2016-04-01              4956.96  27.45  2.25       1.26
2016-04-01              4956.96  27.76  2.21       1.20

total duplicated indexes 2

nifty smallcap 50

            Total Returns Index    P/E   P/B  Div Yield
Date
2016-04-01               3089.9  24.93  1.20       1.29
2016-04-01               3089.9  27.61  0.99       1.52

total duplicated indexes 2

nifty smallcap 100

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty smallcap 250

            Total Returns Index    P/E   P/B  Div Yield
Date
2016-04-01              4742.59  65.64  1.54       1.14
2016-04-01              4742.59  86.86  1.35       1.20

total duplicated indexes 2

Stating date for which P/E values are available

In [59]:
for i in indexes:
    print(i)
    df = pd.read_excel(i+'.xlsx')
    display(df[~df['P/E'].isnull()].head(2))

nifty 50

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              7727.31  24.57  3.88       1.01
1 2011-01-04              7713.22  24.53  3.87       1.01

nifty 100

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              6924.52  23.15  3.76       1.01
1 2011-01-04              6908.94  23.10  3.75       1.02

nifty 200

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              3519.48  22.85  3.62       1.02
1 2011-01-04              3511.50  22.80  3.61       1.02

nifty 500

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              6714.84  22.36  3.42       1.04
1 2011-01-04              6701.08  22.31  3.41       1.04

nifty largemidcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
1713 2017-11-29              7106.75  36.66  3.48       0.77
1714 2017-11-30              7055.34  36.40  3.43       0.79

nifty midcap 50

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              3289.82  20.60  2.46       1.08
1 2011-01-04              3282.92  20.56  2.46       1.08

nifty midcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
1204 2015-11-09             16187.93  24.80  2.23       1.49
1205 2015-11-10             15912.38  24.38  2.19       1.52

nifty midcap 150

           Date  Total Returns Index    P/E   P/B  Div Yield
1301 2016-04-01              4956.96  27.45  2.25       1.26
1302 2016-04-01              4956.96  27.76  2.21       1.20

nifty smallcap 50

           Date  Total Returns Index    P/E   P/B  Div Yield
1301 2016-04-01               3089.9  24.93  1.20       1.29
1302 2016-04-01               3089.9  27.61  0.99       1.52

nifty smallcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
1204 2015-11-09              6227.22  22.55  1.02       1.45
1205 2015-11-10              6144.27   22.5  1.00       1.47

nifty smallcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
1301 2016-04-01              4742.59  65.64  1.54       1.14
1302 2016-04-01              4742.59  86.86  1.35       1.20

Examples

In [71]:
sbi = nsepython.equity_history('sbin', series='EQ', start_date="01-09-2024", end_date="09-09-2024")
sbi

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TIMESTAMP,TIMESTAMP,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,...,CH_52WEEK_HIGH_PRICE,CH_52WEEK_LOW_PRICE,CH_TOTAL_TRADES,CH_ISIN,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP
0,66d6777bb88d538f051f8377,SBIN,EQ,N,2024-09-02,2024-09-01T18:30:00.000Z,825.40,813.05,817.30,822.15,...,912,543.2,279222,INE062A01020,2024-09-03T02:42:03.345Z,2024-09-03T02:42:03.345Z,0,None,819.67,02-Sep-2024
1,66d71a0062903c2b898b9c47,SBIN,EQ,N,2024-09-03,2024-09-02T18:30:00.000Z,825.95,816.40,822.15,824.80,...,912,543.2,197793,INE062A01020,2024-09-03T14:15:28.309Z,2024-09-03T14:15:28.309Z,0,None,821.71,03-Sep-2024
2,66d84f16e28bd85dd9bafde8,SBIN,EQ,N,2024-09-04,2024-09-03T18:30:00.000Z,818.65,813.65,815.45,816.50,...,912,543.2,177040,INE062A01020,2024-09-04T12:14:14.341Z,2024-09-04T12:14:14.341Z,0,None,816.16,04-Sep-2024
3,66d99d605db4cad1ee61fd64,SBIN,EQ,N,2024-09-05,2024-09-04T18:30:00.000Z,822.15,814.40,818.35,818.75,...,912,543.2,146739,INE062A01020,2024-09-05T12:00:32.549Z,2024-09-05T12:00:32.549Z,0,None,819.29,05-Sep-2024
4,66db1216216ed5a318698f41,SBIN,EQ,N,2024-09-06,2024-09-05T18:30:00.000Z,812.90,777.00,811.50,782.50,...,912,543.2,753751,INE062A01020,2024-09-06T14:30:46.247Z,2024-09-06T14:30:46.247Z,0,None,790.89,06-Sep-2024

# Old



nsepy package with Total Returns Index history is available at https://github.com/dsanr/nsepy

In [5]:
import nsepy

In [6]:
indexes = ['nifty 50', 'nifty 100', 'nifty 200', 'nifty 500', 'nifty largemidcap 250', 'nifty midcap 50', 'nifty midcap 100', 'nifty midcap 150',
           'nifty smallcap 50', 'nifty smallcap 100', 'nifty smallcap 250']

In [7]:
dt.date.today()

datetime.date(2023, 3, 8)

In [8]:
nsepy.get_total_returns_index_history('nifty 500', dt.date.today()-dt.timedelta(days=3), dt.date.today())

            Total Returns Index
Date
2023-03-06             23108.97
2023-03-08             23172.99

## Downloading and saving data to new excel file

Uncomment below code to download and save data to new excel file.

In [9]:
# tri = nsepy.get_total_returns_index_history('nifty largemidcap 250', dt.date(2021,1,1), dt.date(2020,12,22))
# tri

In [10]:
# pe = nsepy.get_index_pe_history('nifty largemidcap 250', dt.date(2021,1,1), dt.date(2020,12,22))
# pe

In [11]:
# df = tri.join(pe)
# df.to_excel('nifty largemidcap 250.xlsx')

## Downloading the data for the days since the last saved date

In [12]:
def get_data(index):
    '''get TRI history and PE history from nsepy as dataframe'''
    
    #last date in the file
    last = pd.read_excel(index+'.xlsx', index_col=0).index[-1]
    
    # get values of the remaining dates
    tri = nsepy.get_total_returns_index_history(index, last.date()+dt.timedelta(days=1), dt.date.today())
    pe = nsepy.get_index_pe_history(index, last.date()+dt.timedelta(days=1), dt.date.today())
    tri_pe = tri.join(pe)
    return tri_pe

Saving downloaded data to existing excel file

In [13]:
# def save_data(index):
#     '''save the index data to existing excel files'''
    
#     tri_pe = get_data(index)
    
#     existing_data = pd.read_excel(index+'.xlsx', index_col=0)
#     with pd.ExcelWriter(index+'.xlsx', date_format='YYYY-MM-DD') as writer:
#         pd.concat([existing_data, tri_pe]).to_excel(writer)

In [14]:
def save_data(index):
    '''save the index data to existing excel files'''
    
    tri_pe = get_data(index)
    
    wb = load_workbook(index+'.xlsx')
    ws = wb.active
    for i, r in tri_pe.iterrows():
        ws.append([i, r['Total Returns Index'], r['P/E'], r['P/B'], r['Div Yield']])
    wb.save(index+'.xlsx')

In [15]:
for i in indexes:
    save_data(i)

display last two daya of data from excel file

In [16]:
for i in indexes:
    print(i)
    display(pd.read_excel(i+'.xlsx').tail(2))

nifty 50

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             25777.60  20.87  4.15       1.41
3019 2023-03-08             25840.12  20.92  4.16       1.40

nifty 100

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             23329.62  21.60  4.20       1.46
3019 2023-03-08             23392.36  21.66  4.22       1.46

nifty 200

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             11916.27  21.77  3.98       1.43
3019 2023-03-08             11952.17  21.83  3.99       1.43

nifty 500

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             23108.97  21.73  3.92       1.41
3019 2023-03-08             23172.99  21.79  3.93       1.40

nifty largemidcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             12480.22  22.97  3.68       1.33
3019 2023-03-08             12517.19  23.04  3.69       1.33

nifty midcap 50

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             11183.22  22.61  2.58       1.46
3019 2023-03-08             11266.20  22.78  2.60       1.45

nifty midcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             41326.15  22.90  2.93       1.29
3019 2023-03-08             41538.64  23.02  2.94       1.28

nifty midcap 150

           Date  Total Returns Index    P/E   P/B  Div Yield
3019 2023-03-06             14619.81  24.46  3.29       1.21
3020 2023-03-08             14666.96  24.54  3.30       1.21

nifty smallcap 50

           Date  Total Returns Index    P/E   P/B  Div Yield
3019 2023-03-06              5208.59  20.45  3.52       1.97
3020 2023-03-08              5217.83  20.49  3.53       1.96

nifty smallcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
3018 2023-03-06             11975.77  16.32  2.90       1.50
3019 2023-03-08             12001.25  16.36  2.91       1.49

nifty smallcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
3019 2023-03-06             11476.38  18.24  2.96       1.28
3020 2023-03-08             11507.23  18.29  2.97       1.28

To check whether same date repeats

In [17]:
for i in indexes:
    df=pd.read_excel(i+'.xlsx', index_col=0)
    print(i)
    display(df[df.index.duplicated(keep=False)])
    print(f"total duplicated indexes {df.index.duplicated(keep=False).sum()}\n")

nifty 50

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty 100

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty 200

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty 500

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty largemidcap 250

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty midcap 50

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty midcap 100

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty midcap 150

            Total Returns Index    P/E   P/B  Div Yield
Date
2016-04-01              4956.96  27.45  2.25       1.26
2016-04-01              4956.96  27.76  2.21       1.20

total duplicated indexes 2

nifty smallcap 50

            Total Returns Index    P/E   P/B  Div Yield
Date
2016-04-01               3089.9  24.93  1.20       1.29
2016-04-01               3089.9  27.61  0.99       1.52

total duplicated indexes 2

nifty smallcap 100

Empty DataFrame
Columns: [Total Returns Index, P/E, P/B, Div Yield]
Index: []

total duplicated indexes 0

nifty smallcap 250

            Total Returns Index    P/E   P/B  Div Yield
Date
2016-04-01              4742.59  65.64  1.54       1.14
2016-04-01              4742.59  86.86  1.35       1.20

total duplicated indexes 2

Starting date for which P/E values are available

In [18]:
for i in indexes:
    print(i)
    df = pd.read_excel(i+'.xlsx')
    display(df[~df['P/E'].isnull()].head(2))

nifty 50

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              7727.31  24.57  3.88       1.01
1 2011-01-04              7713.22  24.53  3.87       1.01

nifty 100

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              6924.52  23.15  3.76       1.01
1 2011-01-04              6908.94  23.10  3.75       1.02

nifty 200

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              3519.48  22.85  3.62       1.02
1 2011-01-04              3511.50  22.80  3.61       1.02

nifty 500

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              6714.84  22.36  3.42       1.04
1 2011-01-04              6701.08  22.31  3.41       1.04

nifty largemidcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
1713 2017-11-29              7106.75  36.66  3.48       0.77
1714 2017-11-30              7055.34  36.40  3.43       0.79

nifty midcap 50

        Date  Total Returns Index    P/E   P/B  Div Yield
0 2011-01-03              3289.82  20.60  2.46       1.08
1 2011-01-04              3282.92  20.56  2.46       1.08

nifty midcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
1204 2015-11-09             16187.93  24.80  2.23       1.49
1205 2015-11-10             15912.38  24.38  2.19       1.52

nifty midcap 150

           Date  Total Returns Index    P/E   P/B  Div Yield
1301 2016-04-01              4956.96  27.45  2.25       1.26
1302 2016-04-01              4956.96  27.76  2.21       1.20

nifty smallcap 50

           Date  Total Returns Index    P/E   P/B  Div Yield
1301 2016-04-01               3089.9  24.93  1.20       1.29
1302 2016-04-01               3089.9  27.61  0.99       1.52

nifty smallcap 100

           Date  Total Returns Index    P/E   P/B  Div Yield
1204 2015-11-09              6227.22  22.55  1.02       1.45
1205 2015-11-10              6144.27   22.5  1.00       1.47

nifty smallcap 250

           Date  Total Returns Index    P/E   P/B  Div Yield
1301 2016-04-01              4742.59  65.64  1.54       1.14
1302 2016-04-01              4742.59  86.86  1.35       1.20

In [19]:
nsepy.get_total_returns_index_history('nifty midcap 150', dt.date(2016,4,1), dt.date(2016,4,2))

            Total Returns Index
Date
2016-04-01              4956.96

In [18]:
nsepy.get_index_pe_history('nifty midcap 150', dt.date(2016,4,1), dt.date(2016,4,2))

              P/E   P/B  Div Yield
Date
2016-04-01  27.45  2.25       1.26
2016-04-01  27.76  2.21       1.20

Examples

In [6]:
sbi = nsepy.get_history('sbin', start=dt.date(2020,8,1), end=dt.date(2020,8,7))
sbi

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2020-08-03,SBIN,EQ,191.45,192.00,194.60,190.05,192.30,192.25,192.68,72457670,1.396079e+15,308823,9698233,0.1338
2020-08-04,SBIN,EQ,192.25,193.35,193.80,190.50,191.95,191.60,191.84,43867110,8.415652e+14,176987,6362150,0.1450
2020-08-05,SBIN,EQ,191.60,192.75,196.85,191.00,191.80,191.45,193.91,68888954,1.335821e+15,271605,9480012,0.1376
2020-08-06,SBIN,EQ,191.45,192.30,194.50,190.25,191.15,190.95,192.34,59740299,1.149069e+15,239032,7633674,0.1278
2020-08-07,SBIN,EQ,190.95,191.45,192.10,189.55,190.85,190.65,190.90,44822757,8.556666e+14,186761,9053179,0.2020

In [9]:
sbi.loc[dt.datetime.strptime('2020-08-03', '%Y-%m-%d').date()]['Open']

192.0

In [17]:
sbi.iloc[[1],[2]]

            Prev Close
Date
2020-08-04      192.25

In [23]:
sbi.iat[1,2]

192.25