In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('josaa seats.xlsx', index_col=0)

In [3]:
df

,Institute Code,Institute Name,Program Name,State/All India Seats,Seat Pool,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total(includes Female Supernumerary),Program-Total Seat Capacity Female Supernumerary
0,101.0,Indian Institute of Technology Bhubaneswar,Civil Engineering,All India,Gender-Neutral,21.0,1.0,2.0,0.0,7.0,1.0,4.0,0.0,11.0,1.0,48,56 2
1,101.0,Indian Institute of Technology Bhubaneswar,Civil Engineering,All India,Female-only (including Supernumerary),5.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,"10 (including ""2"" Supernumerary)",56 2
2,101.0,Indian Institute of Technology Bhubaneswar,Computer Science and Engineering,All India,Gender-Neutral,21.0,1.0,2.0,0.0,7.0,1.0,4.0,0.0,11.0,1.0,48,56 3
3,101.0,Indian Institute of Technology Bhubaneswar,Computer Science and Engineering,All India,Female-only (including Supernumerary),5.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,"11 (including ""3"" Supernumerary)",56 3
4,101.0,Indian Institute of Technology Bhubaneswar,Electrical Engineering,All India,Gender-Neutral,22.0,1.0,3.0,0.0,7.0,1.0,4.0,0.0,12.0,1.0,51,56 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,428.0,"Central University of Rajasthan, Rajasthan",Electronics and Communication Engineering,All India,Gender-Neutral,7.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,4.0,0.0,15,15 0
1969,428.0,"Central University of Rajasthan, Rajasthan",Electronics and Communication Engineering,All India,Female-only (including Supernumerary),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 (including ""0"" Supernumerary)",15 0
1970,430.0,National Institute of Food Technology Entrepre...,Food Technology and Management,All India,Gender-Neutral,66.0,2.0,16.0,1.0,24.0,1.0,13.0,0.0,45.0,1.0,169,169 0
1971,430.0,National Institute of Food Technology Entrepre...,Food Technology and Management,All India,Female-only (including Supernumerary),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 (including ""0"" Supernumerary)",169 0
1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1973 entries, 0 to 1972
Data columns (total 17 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Institute Code                                      1972 non-null   float64
 1   Institute Name                                      1972 non-null   object
 2   Program Name                                        1972 non-null   object
 3   State/All India Seats                               1972 non-null   object
 4   Seat Pool                                           1972 non-null   object
 5   OPEN                                                1972 non-null   float64
 6   OPEN-PwD                                            1972 non-null   float64
 7   GEN-EWS                                             1972 non-null   float64
 8   GEN-EWS-PwD                                         1972 non-null   float64
 9   SC                                                  1972 non-null   float64
 10  SC-PwD                                              1972 non-null   float64
 11  ST                                                  1972 non-null   float64
 12  ST-PwD                                              1972 non-null   float64
 13  OBC-NCL                                             1972 non-null   float64
 14  OBC-NCL-PwD                                         1972 non-null   float64
 15  Total(includes Female Supernumerary)                1972 non-null   object
 16  Program-Total  Seat Capacity  Female Supernumerary  1972 non-null   object
dtypes: float64(11), object(6)
memory usage: 277.5+ KB

In [5]:
df.drop(1972, inplace=True)

In [6]:
df['Program-Total  Seat Capacity  Female Supernumerary'].str.split()

0        [56, 2]
1        [56, 2]
2        [56, 3]
3        [56, 3]
4        [56, 6]
          ...
1967     [15, 0]
1968     [15, 0]
1969     [15, 0]
1970    [169, 0]
1971    [169, 0]
Name: Program-Total  Seat Capacity  Female Supernumerary, Length: 1972, dtype: object

In [7]:
total = df['Program-Total  Seat Capacity  Female Supernumerary'].str.split(expand=True)

In [8]:
df['Program-Total  Seat Capacity'] = total[0]

In [9]:
df['Program-Total  Female Supernumerary'] = total[1]

In [10]:
df.drop('Program-Total  Seat Capacity  Female Supernumerary', axis=1, inplace=True)

In [11]:
df['Total(includes Female Supernumerary)'] = df['Total(includes Female Supernumerary)'].str.split(n=1, expand=True)[0]

In [12]:
df.head()

,Institute Code,Institute Name,Program Name,State/All India Seats,Seat Pool,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total(includes Female Supernumerary),Program-Total Seat Capacity,Program-Total Female Supernumerary
0,101.0,Indian Institute of Technology Bhubaneswar,Civil Engineering,All India,Gender-Neutral,21.0,1.0,2.0,0.0,7.0,1.0,4.0,0.0,11.0,1.0,48,56,2
1,101.0,Indian Institute of Technology Bhubaneswar,Civil Engineering,All India,Female-only (including Supernumerary),5.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,10,56,2
2,101.0,Indian Institute of Technology Bhubaneswar,Computer Science and Engineering,All India,Gender-Neutral,21.0,1.0,2.0,0.0,7.0,1.0,4.0,0.0,11.0,1.0,48,56,3
3,101.0,Indian Institute of Technology Bhubaneswar,Computer Science and Engineering,All India,Female-only (including Supernumerary),5.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,11,56,3
4,101.0,Indian Institute of Technology Bhubaneswar,Electrical Engineering,All India,Gender-Neutral,22.0,1.0,3.0,0.0,7.0,1.0,4.0,0.0,12.0,1.0,51,56,6

In [13]:
cols = df.columns[-3:]

In [14]:
df[cols] = df[cols].astype(float)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1972 entries, 0 to 1971
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Institute Code                        1972 non-null   float64
 1   Institute Name                        1972 non-null   object
 2   Program Name                          1972 non-null   object
 3   State/All India Seats                 1972 non-null   object
 4   Seat Pool                             1972 non-null   object
 5   OPEN                                  1972 non-null   float64
 6   OPEN-PwD                              1972 non-null   float64
 7   GEN-EWS                               1972 non-null   float64
 8   GEN-EWS-PwD                           1972 non-null   float64
 9   SC                                    1972 non-null   float64
 10  SC-PwD                                1972 non-null   float64
 11  ST                                    1972 non-null   float64
 12  ST-PwD                                1972 non-null   float64
 13  OBC-NCL                               1972 non-null   float64
 14  OBC-NCL-PwD                           1972 non-null   float64
 15  Total(includes Female Supernumerary)  1972 non-null   float64
 16  Program-Total  Seat Capacity          1972 non-null   float64
 17  Program-Total  Female Supernumerary   1972 non-null   float64
dtypes: float64(14), object(4)
memory usage: 292.7+ KB

In [16]:
df.iloc[:, 5:-2].sum()

OPEN                                    19517.0
OPEN-PwD                                  962.0
GEN-EWS                                  2566.0
GEN-EWS-PwD                               132.0
SC                                       6392.0
SC-PwD                                    343.0
ST                                       3596.0
ST-PwD                                    197.0
OBC-NCL                                 10974.0
OBC-NCL-PwD                               556.0
Total(includes Female Supernumerary)    45235.0
dtype: float64

In [17]:
df.iloc[:, 5:-3].sum()/(df['Program-Total  Seat Capacity'].sum()/2)

OPEN           0.450979
OPEN-PwD       0.022229
GEN-EWS        0.059292
GEN-EWS-PwD    0.003050
SC             0.147700
SC-PwD         0.007926
ST             0.083093
ST-PwD         0.004552
OBC-NCL        0.253576
OBC-NCL-PwD    0.012847
dtype: float64

In [18]:
((df['Program-Total  Female Supernumerary'].sum()/2) / df['Total(includes Female Supernumerary)'].sum())

0.043285066872996575

In [19]:
(df.iloc[:, 5:-3].sum()/(df['Program-Total  Seat Capacity'].sum()/2))[1::2].sum()

0.05060424705963907

In [20]:
df.columns

Index(['Institute Code', 'Institute Name', 'Program Name',
       'State/All India Seats', 'Seat Pool', 'OPEN', 'OPEN-PwD', 'GEN-EWS',
       'GEN-EWS-PwD', 'SC', 'SC-PwD', 'ST', 'ST-PwD', 'OBC-NCL', 'OBC-NCL-PwD',
       'Total(includes Female Supernumerary)', 'Program-Total  Seat Capacity',
       'Program-Total  Female Supernumerary'],
      dtype='object')

In [21]:
df.groupby('Program Name').sum().sort_values('OPEN', ascending=False)

,Institute Code,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total(includes Female Supernumerary),Program-Total Seat Capacity,Program-Total Female Supernumerary
Program Name,,,,,,,,,,,,,,
Computer Science and Engineering,66298.0,3481.0,178.0,458.0,25.0,1118.0,69.0,624.0,33.0,1960.0,103.0,8049.0,15444.0,654.0
Mechanical Engineering,47804.0,2613.0,118.0,323.0,22.0,849.0,49.0,484.0,34.0,1446.0,77.0,6015.0,11200.0,830.0
Electronics and Communication Engineering,55992.0,2300.0,110.0,310.0,23.0,740.0,45.0,440.0,25.0,1261.0,70.0,5324.0,10378.0,270.0
Civil Engineering,42896.0,2005.0,92.0,249.0,19.0,646.0,37.0,381.0,23.0,1102.0,54.0,4608.0,8782.0,434.0
Electrical Engineering,29444.0,1673.0,81.0,219.0,11.0,541.0,34.0,300.0,18.0,934.0,53.0,3864.0,7296.0,432.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Electrical Engineering and M.Tech Power Electronics and Drives,202.0,5.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,11.0,22.0,0.0
Civil Engineering and M. Tech. in Structural Engineering,202.0,4.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,3.0,0.0,11.0,22.0,0.0
Ceramic Engineering and M.Tech Industrial Ceramic,892.0,4.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,3.0,1.0,13.0,26.0,0.0
BS in Mathematics,204.0,4.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,10.0,16.0,4.0
Biotechnology,832.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,5.0,10.0,0.0

In [32]:
(df.groupby('Program Name').sum().sort_values('OPEN', ascending=False).iloc[:,-1] / df.groupby('Program Name').sum().sort_values('OPEN', ascending=False).iloc[:,-2]).sort_values(ascending=False)[:15]

Program Name
Mechanical Engineering with M.Tech. in Manufacturing Engineering            0.272727
Mechanical Engineering and M. Tech. in Mechanical System Design             0.272727
Mechanical Engineering and M. Tech. in Thermal Science & Engineering        0.272727
BS in Mathematics                                                           0.250000
Mining Machinery Engineering                                                0.225000
Environmental Science and Engineering                                       0.222222
Electrical Engineering with M.Tech. in any of the listed specializations    0.217391
Mechanical Engineering with M.Tech. in any of the listed specializations    0.196078
Mineral Engineering                                                         0.193548
Manufacturing Science and Engineering                                       0.193548
Food Process Engineering                                                    0.193548
Applied Geophysics                                                          0.187500
Industrial Design                                                           0.176471
Civil Engineering with any of the listed specialization                     0.173913
Electronics and Electrical Engineering                                      0.170213
dtype: float64

In [23]:
df.groupby('Institute Name').sum().sort_values('Total(includes Female Supernumerary)', ascending=False)

,Institute Code,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total(includes Female Supernumerary),Program-Total Seat Capacity,Program-Total Female Supernumerary
Institute Name,,,,,,,,,,,,,,
Indian Institute of Technology Kharagpur,8056.0,715.0,38.0,44.0,3.0,226.0,12.0,113.0,6.0,407.0,21.0,1585.0,2854.0,316.0
Indian Institute of Technology (BHU) Varanasi,5800.0,530.0,15.0,130.0,4.0,196.0,5.0,98.0,3.0,354.0,11.0,1346.0,2540.0,152.0
Indian Institute of Technology Roorkee,3842.0,502.0,27.0,44.0,2.0,162.0,8.0,81.0,4.0,290.0,16.0,1136.0,2074.0,198.0
"Dr. B R Ambedkar National Institute of Technology, Jalandhar",8844.0,436.0,23.0,108.0,5.0,161.0,9.0,81.0,4.0,291.0,15.0,1133.0,2206.0,60.0
Indian Institute of Technology Bombay,3264.0,516.0,11.0,28.0,4.0,153.0,14.0,81.0,6.0,289.0,13.0,1115.0,2024.0,206.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Central University of Rajasthan, Rajasthan",1712.0,14.0,0.0,2.0,0.0,4.0,0.0,2.0,0.0,8.0,0.0,30.0,60.0,0.0
"Indian Institute of Carpet Technology, Bhadohi",808.0,14.0,1.0,0.0,0.0,4.0,1.0,1.0,1.0,7.0,1.0,30.0,60.0,0.0
"Indian institute of information technology, Raichur, Karnataka",652.0,11.0,1.0,3.0,0.0,5.0,0.0,2.0,0.0,7.0,1.0,30.0,60.0,0.0
University of Hyderabad,842.0,9.0,1.0,1.0,0.0,3.0,0.0,2.0,0.0,6.0,0.0,22.0,44.0,0.0
"Central institute of Technology Kokrajar, Assam",4250.0,9.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,4.0,0.0,18.0,36.0,0.0

In [27]:
IIT = df[df['Institute Name'].str.contains('Indian Institute of Technology')]

In [31]:
IIT.groupby('Institute Name').sum().sort_values('Total(includes Female Supernumerary)', ascending=False)

,Institute Code,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total(includes Female Supernumerary),Program-Total Seat Capacity,Program-Total Female Supernumerary
Institute Name,,,,,,,,,,,,,,
Indian Institute of Technology Kharagpur,8056.0,715.0,38.0,44.0,3.0,226.0,12.0,113.0,6.0,407.0,21.0,1585.0,2854.0,316.0
Indian Institute of Technology (BHU) Varanasi,5800.0,530.0,15.0,130.0,4.0,196.0,5.0,98.0,3.0,354.0,11.0,1346.0,2540.0,152.0
Indian Institute of Technology Roorkee,3842.0,502.0,27.0,44.0,2.0,162.0,8.0,81.0,4.0,290.0,16.0,1136.0,2074.0,198.0
Indian Institute of Technology Bombay,3264.0,516.0,11.0,28.0,4.0,153.0,14.0,81.0,6.0,289.0,13.0,1115.0,2024.0,206.0
Indian Institute of Technology Delhi,2912.0,451.0,24.0,56.0,3.0,152.0,8.0,76.0,4.0,273.0,14.0,1061.0,2008.0,114.0
Indian Institute of Technology Kanpur,2834.0,449.0,23.0,39.0,2.0,144.0,8.0,73.0,4.0,261.0,13.0,1016.0,1814.0,218.0
Indian Institute of Technology Madras,3080.0,427.0,22.0,37.0,2.0,138.0,7.0,69.0,4.0,248.0,13.0,967.0,1838.0,96.0
Indian Institute of Technology (ISM) Dhanbad,3420.0,429.0,23.0,27.0,2.0,136.0,7.0,67.0,4.0,244.0,13.0,952.0,1716.0,188.0
Indian Institute of Technology Guwahati,2340.0,343.0,18.0,38.0,2.0,115.0,6.0,56.0,3.0,203.0,11.0,795.0,1432.0,158.0
Indian Institute of Technology Bhubaneswar,3030.0,182.0,9.0,20.0,1.0,59.0,4.0,29.0,2.0,108.0,5.0,419.0,778.0,60.0
Indian Institute of Technology Patna,1344.0,168.0,10.0,7.0,0.0,51.0,2.0,25.0,1.0,93.0,4.0,361.0,594.0,128.0
Indian Institute of Technology Jodhpur,864.0,138.0,5.0,36.0,0.0,54.0,0.0,25.0,0.0,91.0,3.0,352.0,678.0,26.0
Indian Institute of Technology Ropar,1840.0,151.0,9.0,12.0,1.0,49.0,3.0,25.0,2.0,90.0,4.0,346.0,614.0,78.0
Indian Institute of Technology Hyderabad,2140.0,139.0,8.0,12.0,0.0,46.0,2.0,23.0,1.0,82.0,4.0,317.0,604.0,30.0
Indian Institute of Technology Indore,1050.0,141.0,8.0,0.0,0.0,41.0,2.0,22.0,1.0,75.0,4.0,294.0,520.0,68.0
Indian Institute of Technology Mandi,1442.0,127.0,7.0,7.0,0.0,41.0,2.0,21.0,1.0,72.0,4.0,282.0,522.0,42.0
Indian Institute of Technology Jammu,1464.0,90.0,5.0,11.0,1.0,30.0,2.0,15.0,1.0,55.0,3.0,213.0,406.0,20.0
Indian Institute of Technology Gandhinagar,1332.0,96.0,4.0,6.0,0.0,32.0,0.0,13.0,1.0,55.0,5.0,212.0,386.0,38.0
Indian Institute of Technology Tirupati,1210.0,87.0,5.0,10.0,0.0,30.0,1.0,14.0,1.0,52.0,3.0,203.0,406.0,0.0
Indian Institute of Technology Palakkad,960.0,73.0,4.0,16.0,0.0,25.0,0.0,14.0,1.0,47.0,1.0,181.0,348.0,14.0
Indian Institute of Technology Goa,952.0,56.0,4.0,15.0,0.0,22.0,1.0,11.0,0.0,39.0,2.0,150.0,250.0,50.0
Indian Institute of Technology Bhilai,708.0,55.0,4.0,13.0,0.0,20.0,1.0,10.0,1.0,38.0,1.0,143.0,266.0,20.0
Indian Institute of Technology Dharwad,738.0,66.0,0.0,3.0,0.0,18.0,2.0,9.0,3.0,35.0,1.0,137.0,254.0,20.0

In [32]:
NIT = df[df['Institute Name'].str.contains('National Institute of Technology')]

In [33]:
NIT.groupby('Institute Name').sum().sort_values('Total(includes Female Supernumerary)', ascending=False)

,Institute Code,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total(includes Female Supernumerary),Program-Total Seat Capacity,Program-Total Female Supernumerary
Institute Name,,,,,,,,,,,,,,
"Dr. B R Ambedkar National Institute of Technology, Jalandhar",8844.0,436.0,23.0,108.0,5.0,161.0,9.0,81.0,4.0,291.0,15.0,1133.0,2206.0,60.0
National Institute of Technology Calicut,9064.0,477.0,20.0,60.0,3.0,159.0,9.0,74.0,10.0,283.0,17.0,1112.0,2174.0,50.0
"National Institute of Technology, Rourkela",20516.0,478.0,25.0,50.0,2.0,159.0,7.0,80.0,3.0,282.0,16.0,1102.0,1912.0,292.0
National Institute of Technology Raipur,10368.0,470.0,24.0,52.0,3.0,154.0,8.0,77.0,4.0,280.0,14.0,1086.0,2152.0,20.0
Maulana Azad National Institute of Technology Bhopal,7308.0,453.0,22.0,64.0,5.0,154.0,8.0,77.0,4.0,276.0,15.0,1078.0,2110.0,46.0
"National Institute of Technology, Tiruchirappalli",9040.0,400.0,22.0,103.0,5.0,151.0,8.0,75.0,4.0,267.0,14.0,1049.0,2042.0,56.0
"National Institute of Technology, Warangal",10944.0,387.0,20.0,95.0,5.0,144.0,7.0,71.0,4.0,257.0,14.0,1004.0,2008.0,0.0
"Sardar Vallabhbhai National Institute of Technology, Surat",8244.0,422.0,22.0,52.0,2.0,141.0,7.0,70.0,4.0,254.0,13.0,987.0,1962.0,12.0
"National Institute of Technology, Kurukshetra",6160.0,413.0,21.0,51.0,3.0,138.0,7.0,68.0,4.0,247.0,13.0,965.0,1874.0,56.0
National Institute of Technology Agartala,10660.0,384.0,20.0,81.0,11.0,143.0,7.0,174.0,7.0,123.0,4.0,954.0,1584.0,324.0
"Visvesvaraya National Institute of Technology, Nagpur",8280.0,363.0,19.0,90.0,4.0,134.0,8.0,67.0,4.0,243.0,12.0,944.0,1866.0,22.0
Motilal Nehru National Institute of Technology Allahabad,7344.0,404.0,21.0,45.0,2.0,133.0,7.0,66.0,4.0,240.0,13.0,935.0,1808.0,62.0
National Institute of Technology Hamirpur,8400.0,357.0,18.0,87.0,5.0,132.0,7.0,65.0,4.0,238.0,12.0,925.0,1792.0,58.0
Malaviya National Institute of Technology Jaipur,6464.0,341.0,18.0,84.0,5.0,126.0,7.0,64.0,3.0,228.0,12.0,888.0,1776.0,0.0
"National Institute of Technology Karnataka, Surathkal",7596.0,368.0,18.0,48.0,3.0,124.0,6.0,61.0,4.0,224.0,10.0,866.0,1706.0,26.0
"National Institute of Technology, Silchar",5376.0,330.0,18.0,81.0,4.0,122.0,6.0,61.0,3.0,219.0,12.0,856.0,1650.0,62.0
National Institute of Technology Durgapur,9152.0,348.0,18.0,38.0,2.0,122.0,10.0,57.0,5.0,204.0,13.0,817.0,1634.0,0.0
"National Institute of Technology, Srinagar",7200.0,327.0,18.0,50.0,4.0,113.0,5.0,55.0,2.0,195.0,9.0,778.0,1476.0,80.0
National Institute of Technology Patna,7704.0,298.0,16.0,74.0,4.0,111.0,6.0,56.0,3.0,196.0,10.0,774.0,1500.0,48.0
"National Institute of Technology, Jamshedpur",6132.0,297.0,15.0,31.0,1.0,97.0,5.0,47.0,4.0,174.0,9.0,680.0,1334.0,26.0
"National Institute of Technology, Andhra Pradesh",7392.0,232.0,12.0,0.0,0.0,69.0,4.0,35.0,2.0,126.0,6.0,486.0,960.0,12.0
National Institute of Technology Puducherry,4300.0,116.0,6.0,0.0,0.0,34.0,2.0,17.0,1.0,62.0,3.0,241.0,480.0,2.0
National Institute of Technology Nagaland,5112.0,47.0,1.0,0.0,0.0,17.0,1.0,105.0,6.0,24.0,4.0,205.0,360.0,50.0
National Institute of Technology Arunachal Pradesh,4360.0,60.0,0.0,0.0,0.0,20.0,0.0,75.0,5.0,30.0,0.0,190.0,370.0,10.0
National Institute of Technology Delhi,2484.0,89.0,3.0,0.0,0.0,25.0,2.0,13.0,1.0,47.0,2.0,182.0,360.0,4.0
"National Institute of Technology, Manipur",4420.0,85.0,5.0,0.0,0.0,16.0,0.0,32.0,3.0,38.0,1.0,180.0,360.0,0.0
National Institute of Technology Sikkim,4340.0,76.0,6.0,0.0,0.0,24.0,1.0,12.0,0.0,42.0,2.0,163.0,320.0,6.0
National Institute of Technology Meghalaya,4240.0,47.0,2.0,0.0,0.0,15.0,1.0,63.0,4.0,20.0,1.0,153.0,300.0,6.0
"National Institute of Technology, Mizoram",4440.0,72.0,3.0,0.0,0.0,20.0,2.0,11.0,1.0,39.0,2.0,150.0,280.0,20.0
National Institute of Technology Goa,6270.0,72.0,4.0,0.0,0.0,21.0,2.0,11.0,0.0,38.0,2.0,150.0,300.0,0.0
"National Institute of Technology, Uttarakhand",4540.0,48.0,2.0,0.0,0.0,14.0,1.0,7.0,1.0,25.0,2.0,100.0,200.0,0.0

In [21]:
df.to_excel('josaa seats-1.xlsx')