In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [4]:
path = 'D:\\dsr\\fin\\mf\\'
# df = pd.read_excel(path + 'mf_return_multi_Copy.xlsx')
# print(df)

In [ ]:
print(df.info())

In [ ]:
print(df.head())

In [12]:
df1 = pd.DataFrame(['a', 'b', 'c'], columns=list(range(1, 2)))
df1

   1
0  a
1  b
2  c

In [15]:
df2 = pd.DataFrame({1: ['c', 'd', 'e']})
df2

   1
0  c
1  d
2  e

In [20]:
df = pd.concat([df1, df2], axis=1)
df

   1  1
0  a  c
1  b  d
2  c  e

In [22]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [24]:
df = pd.read_excel(r'D:\Population_Group_Wise_Branch_List.xls')
df.head()

,STATE,DISTRICT,PINCODE,BRCODE,BRANCH_NAME,POPULATION
0,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,744101,156,PORT BLAIR,Urban
1,ANDAMAN AND NICOBAR,NORTH & MIDDLE ANDAMAN,744205,1564,RANGAT,Rural
2,ANDAMAN AND NICOBAR,SOUTH ANDAMAN,744104,2001,ABERDEEN BAZAAR EVE BR,Urban
3,ANDAMAN AND NICOBAR,NICOBAR,744301,4645,CAR NICOBAR,Semi-Urban
4,ANDAMAN AND NICOBAR,NICOBAR,744303,4933,NAN COWRIE,Rural

In [32]:
df.groupby(['POPULATION']).count()/df['POPULATION'].count()

               STATE  DISTRICT   PINCODE    BRCODE  BRANCH_NAME
POPULATION
Metro       0.204141  0.204141  0.204141  0.204141     0.204141
Rural       0.328526  0.328526  0.328526  0.328526     0.328526
Semi-Urban  0.270075  0.270075  0.270075  0.270075     0.270075
Urban       0.197258  0.197258  0.197258  0.197258     0.197258

In [ ]:
print(df.iloc[:6, 8:11])

In [7]:
df = pd.DataFrame(10 + np.random.randn(5, 3) * 20,
                  index=np.arange(6, 11), columns=['a', 'b', 'c'])
print(df)

            a          b          c
6    7.580933  -1.796326  20.926296
7   57.273868 -18.446089   1.666904
8   10.413072  -1.489644   8.043051
9  -17.340493   5.010076  16.784418
10  -0.434276  14.270399 -29.601415

In [18]:
for k, v in df.iteritems():
    print(v)
#     plt.plot(k, v, 'r-o')
#     plt.show()

major  minor
A      1       -0.348894
       2        0.070284
       3        1.471791
B      1       -0.688677
       2        1.805415
       3        0.114181
Name: X, dtype: float64
major  minor
A      1        0.983703
       2        0.777533
       3        1.663181
B      1       -0.694923
       2        0.456314
       3        1.513581
Name: Y, dtype: float64
major  minor
A      1        0.580923
       2        0.581959
       3       -0.261177
B      1        1.940423
       2       -0.574812
       3        0.351132
Name: Z, dtype: float64

In [9]:
for k, v in df.iterrows():
    print(k, v)

6 a     7.580933
b    -1.796326
c    20.926296
Name: 6, dtype: float64
7 a    57.273868
b   -18.446089
c     1.666904
Name: 7, dtype: float64
8 a    10.413072
b    -1.489644
c     8.043051
Name: 8, dtype: float64
9 a   -17.340493
b     5.010076
c    16.784418
Name: 9, dtype: float64
10 a    -0.434276
b    14.270399
c   -29.601415
Name: 10, dtype: float64

In [10]:
for r in df.itertuples():
    print(r)

Pandas(Index=6, a=7.580932838512372, b=-1.7963258244654625, c=20.926296292839204)
Pandas(Index=7, a=57.273868416103355, b=-18.446089263038576, c=1.666903765386552)
Pandas(Index=8, a=10.413071551414976, b=-1.489643503171692, c=8.0430506514958)
Pandas(Index=9, a=-17.34049341025507, b=5.010075626212832, c=16.784418271697348)
Pandas(Index=10, a=-0.43427620408020573, b=14.270398582715949, c=-29.601414914242937)

In [11]:
df = df.sort_values(by=['c'])
print(df)

            a          b          c
10  -0.434276  14.270399 -29.601415
7   57.273868 -18.446089   1.666904
8   10.413072  -1.489644   8.043051
9  -17.340493   5.010076  16.784418
6    7.580933  -1.796326  20.926296

In [12]:
dfr = df.rolling(3, min_periods=2)
print(dfr.sum())

            a          b          c
10        NaN        NaN        NaN
7   56.839592  -4.175691 -27.934511
8   67.252664  -5.665334 -19.891460
9   50.346447 -14.925657  26.494373
6    0.653511   1.724106  45.753765

In [13]:
dfe = df.expanding(3).sum()
print(dfe)

            a         b          c
10        NaN       NaN        NaN
7         NaN       NaN        NaN
8   67.252664 -5.665334 -19.891460
9   49.912170 -0.655259  -3.107042
6   57.493103 -2.451584  17.819254

In [14]:
dfa = dfr.agg(np.sum)
print(dfa)

            a          b          c
10        NaN        NaN        NaN
7   56.839592  -4.175691 -27.934511
8   67.252664  -5.665334 -19.891460
9   50.346447 -14.925657  26.494373
6    0.653511   1.724106  45.753765

In [15]:
np.random.seed(32)
major = ['A', 'B']
minor = [1, 2, 3]
columns = ('X', 'Y', 'Z')
index = pd.MultiIndex.from_product([major, minor])
df = pd.DataFrame(np.random.randn(6,3), index, columns)
df.index.names = ['major', 'minor']
print(df)

                    X         Y         Z
major minor
A     1     -0.348894  0.983703  0.580923
      2      0.070284  0.777533  0.581959
      3      1.471791  1.663181 -0.261177
B     1     -0.688677 -0.694923  1.940423
      2      1.805415  0.456314 -0.574812
      3      0.114181  1.513581  0.351132

In [16]:
print(df.loc['A'].loc[2]['Z'])

0.5819587452054185

In [17]:
print(df.xs(3, level='minor'))

              X         Y         Z
major
A      1.471791  1.663181 -0.261177
B      0.114181  1.513581  0.351132